.psevdo{
    width: 100px;
    height: 100px;
    background: red;
    margin: auto;
    position: relative;
}

.psevdo::before,.psevdo::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: block;
    position: absolute;
    transition: .5s;
    left: 0;
    right: 0;
}

.psevdo:hover::before{
    left: -50px;
}
.psevdo:hover::after{
    left: 50px;
}

